{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      
      <title>{% block title %}THis is my base class{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
      <script src="{% static "assets/js/jquery-3.1.1.min.js" %}"></script>
      <script src="{% static "assets/js/ajax.js" %}"></script>

</head>

<body>

<div id="page">
<div id="sidebar">
  {% block sidebar %}
  <ul>
     <li><a href="/articles/all">Articles</a></li>
     <li><a href="/admin/">Admin</a></li>
  </ul>
  {% endblock %}
	
</div>

<div id="content">
   {% block content %}this is the content area{% endblock %}
   
   <img href="{% static "assets/images/python-logo.png" %}" width='200'/>
</div>
</div>

</body>
</html>
