{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
<p class = "error">Sorry, that's not a valid username or password</p>
{% endif %}

<form action="/accounts/auth/" method="post">{% csrf_token %}
      <label for="username">User Name:</label><br>
      <input type="text" name="username" value="" id="username" placeholder="username*" style="margin:20px"><br>
      <label for="password">Password: </label><br>
      <input type="password" name="password" value="" id="password" placeholder="password*" style="margin:20px"><br>
      
      <input type="submit" value="login" style="margin:20px">
      
</form>

{% endblock %}